@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron text-light text-center">
        <h1 class="display-3 font-weight-bold">Welcome to my Book Collection!</h1>
        <p class="lead font-weight-bold">A collection of all the books I have read and those on my wish list.</p>
        <a asp-controller="Books" asp-action="index"
          class="btn btn-primary">Add a Book</a>
    </div>